.top {
    display: flex;
    justify-content: space-between;
    height: 426px;
    margin-top: 53px;
    color: #fff;
    margin-bottom: 58px;
    @include tab {
        flex-direction: column;
        height: 100vh;
        margin-bottom: 0px;
    }
    .main {
        background-image: url(../img/top1.png);
        width: 50%;
        height: 100%;
        margin-left: 17%;
        position: relative;
        z-index: 90;
        @include tab {
            width: 77%;
            height: 50%;
            margin-left: 23%;
            background-position: -10% 40%;
            background-size: cover;
        }
        @include sp {
            margin-left: 0;
            width: 100%;
            background-size: cover;
            background-position: 90% 0;
        }
        &-text {
            font-size: 2rem;
            padding: 35px 13% 43px 8%;
            position: absolute;
            bottom: 0;
            background-color: rgba(0, 0, 0, .46);
            @include tab {
                padding: 15px 10% 20px 8%;
            }
            @include sp {
                font-size: 1.8rem;
            }
        }
    }
    .sub {
        width: 33%;
        height: 100%;
        @include tab {
            width: 77%;
            height: 50%;
            margin-left: 23%;
            margin-bottom: 70px;
        }
        @include sp {
            margin-left: 0;
            width: 100%;
        }
        &1{
            background-image: url(../img/top2.png);
            width: 100%;
            height: 50%;
            position: relative;
            @include tab {
                height: 50%;
                background-size: cover;
                background-position: 0 -90px;
            }
            @include sp {
                background-size: cover;
                background-position: 0 0;
            }
        }
        &2 {
            background-image: url(../img/top3.png);
            width: 100%;
            height: 50%;
            position: relative;
            @include tab {
                height: 50%;
                background-size: cover;
                background-position: 0 0;
            }
        }
        &-text {
            font-size: 1.4rem;
            padding: 25px 9%;
            position: absolute;
            bottom: 0;
            background-color: rgba(0, 0, 0, .46);
            @include tab {
                padding: 15px 10% 20px 8%;
                font-size: 1.2rem;
            }
        }
    }
}